
<div class="wrapper">
  <div class="headers">

  <h1>Welcome to the Task Manager</h1>

  <h2>Below are all your tasks:</h2>

  </div>

  <div class="tasks">
  <% @tasks.each do |task| %>
    <div class="task">
      <div class="task-text">
        <h3> <%= link_to "#{task.title}", task_path(task) %> </h3>
        <h4> <%="#{task.details} | completed:"%></h4>
        <%= form_for(task) { |f| f.check_box :completed}  %>
      </div>
      <div class="task-actions">
        <p class="button"><%= link_to "Update", edit_task_path(task) %></p>
        <p class="button"><%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      </div>
    </div>
  <% end %>

  <br>
  <br>

  <%= link_to "New Task", new_task_path, { :class=>"button" } %>

  </div>
</div>
